@{
    ViewData["Title"] = "Cadastro de Clientes";
}

<form method="post" enctype="multipart/form-data">
    <input type="text" name="Nome" placeholder="Nome" required />
    <input type="email" name="Email" placeholder="E-mail" required />
    <input type="file" name="Logotipo" />
    <button type="submit">Cadastrar</button>
</form>
